{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div>
        <img src="{{ shop_products.image.url }}" alt="{{shop_products.name}}">
    </div>
    <div>{{shop_products.name}}</div>
    <div>{{shop_products.price}} €</div>
    <div>{{shop_products.description}}</div>
    {% if user.is_authenticated %}
    <div><a href="{% url 'add-to-cart' shop_products.slug %}"><button>add to cart</button></a></div>
    {% else %}
    <div>
        <p>Veuillez créer un compte</p>
    </div>
    {% endif %}
</div>
{% endblock content %}