{% extends 'base.html' %}
{% block content %}
<section>
    <div class="search">
        <form action="{% url 'shop' %}" method="get">
            <div>
                <input placeholder="look for a product" type="search" name="item-name" value="{{ item_name }}">
                <button type="submit">search</button>
            </div>
        </form>
    </div>
</section>

<main>
    <div class="products">
        {% for product in shop_products %}
        {% if item_name and item_name not in product.name %}
        {% else %}
        <div class="product">
            <a href="{{ product.get_absolute_url }}">
                <img class="product_div_img" src="{{ product.image.url }}" alt="{{product.name}}">
            </a>
            <div>
                <div class="product_body">
                    <a href="{{ product.get_absolute_url }}">
                        <p> {{ product.name }}</p>
                    </a>


                    <p>{{ product.price }} €</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'add-to-cart' product.slug %}"><button> add to cart </button></a>
                    {% else %}
                    <a href="{% url 'login' %}"><button>log in</button></a>
                    {% endif %}
                </div>
            </div>

        </div>
        {% endif %}
        {% endfor %}

    </div>
</main>

{% endblock content %}