<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KINI</title>
</head>

<body>
    <nav>
        <a href="{% url 'shop' %}">
            <h1>KINI</h1>
        </a>
        {% if user.is_authenticated %}
        <p>{{user.username}}</p>

        <a href="{% url 'logout' %}">
            <h4>logout</h4>
        </a>
        {% else %}
        <a href="{% url 'login' %}">
            <h4>login</h4>
        </a>
        <a href="{% url 'signup' %}">
            <h4>sign up</h4>
        </a>
        {% endif %}

        {% if user.cart %}
        <a href="{% url 'cart' %}">
            <h2>CART({{ user.cart.orders.count }})</h2>
        </a>
        {% endif %}
    </nav>


    {% block content %}
    {% endblock content %}

</body>

</html>